.Container{
    display: flex;
    width: 1440px;
    margin: auto;
    min-height: 580px;
    max-width: 1440px;
}

.LOgo{
    max-width: 485px;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.DescriptionLogo{
    max-width: 530px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #212121;
}

.BtnLogo{
    width: 208px;
    height: 48px;
    background: linear-gradient(264.2deg, #129E47 2.5%, #1069AB 101.82%, #1069AB 101.82%);
    border-radius: 25px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    display: block;
    color: #FFFFFF;
    margin-top: 30px;
}

.ConImgs{
    display: flex;
}

.Imgs{
    display: flex;
    flex-direction: column;
    gap: 450px;
}

.leftContainer{
    margin-left: 120px;
}

.Conconnon{
    margin-left: -110px;
}

.LogoTitle{
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: #212121;
    margin-bottom: 50px;
}

.containerBig{
    width: 100%;
    background: #FBFBFB;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.containerbig{
    background: #FBFBFB;
}

.ForLine{   
    width: 90px;
    height: 3px;
    background: #129E47;
    border-radius: 2px;
    margin-left: 185px;
}

.Logo{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 50px;
    color: #212121;
}

.TitleContainer{
    width: 460px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.FirstCon{
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.imgCon{
    display: flex;
    gap: 30px;
}

.containerDescription{
    max-width: 549px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.logo{
    width: 150px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #212121;
}

.title{
    width: 110px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #CFCFCF;
}

.descriptionn{
    max-width: 549px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #212121;
}








