html,
body {
  padding: 0;
  margin: 0;

}
@font-face {
  font-family: 'Montserrat',sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,800&display=swap');
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}





.videoSlider .swiper-button-next:hover,
.videoSlider .swiper-button-prev:hover {
    background: linear-gradient(
        264.2deg,
        #129e47 2.5%,
        #1069ab 101.82%,
        #1069ab 101.82%
    );
    color: white;
}
.videoSlider .swiper-button-next:after,
.videoSlider .swiper-button-prev:after {
    font-size: 20px;
    font-weight: 600;
}
.videoSlider .swiper-button-next,
.videoSlider .swiper-button-prev {
    right: 300px;
    color: #000;
    border-radius: 50px;
    padding: 30px 30px !important;
}
.videoSlider .swiper-button-prev {
    left: 300px !important;
}
.videoSlider .swiper-slide {
    opacity: 0.3;
}
.videoSlider .swiper-slide-active {
    opacity: 1;
}


.swiper-slide {
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* 
@media (max-width: 899px) {
  .react-player__preview {
      max-width: 550px;
      border-radius: 15px;
      margin: auto;
  }
  .videoSlider .swiper-button-next,
  .videoSlider .swiper-button-prev {
      right: 10px;
  }
  .videoSlider .swiper-button-prev {
      left: 10px !important;
  }
}
@media (max-width: 690px) {
  .react-player__preview {
      max-width: 350px;
  }
}
@media (max-width: 500px) {
  .swiper-button-next,
  .swiper-button-prev {
      display: none;
  }
} */
/* .videoSlider .swiper-slide > div {
  width: 100% !important;
  height: 450px !important;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.videoSlider .swiper-slide {
  opacity: 0.3;
}
.videoSlider .swiper-slide-active {
  z-index: 10;
  opacity: 1;
}
.react-player__preview {
  border-radius: 15px;
}
.video_video__34NDr {
  width: 100% !important;
} */